@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS75F-webfont.eot');
    src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS56F-webfont.eot');
    src: url('../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS56F-webfont.woff') format('woff'),
         url('../fonts/PTS56F-webfont.ttf') format('truetype'),
         url('../fonts/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS76F-webfont.eot');
    src: url('../fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS76F-webfont.woff') format('woff'),
         url('../fonts/PTS76F-webfont.ttf') format('truetype'),
         url('../fonts/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

.load, .load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.clearfix:before,.clearfix:after {content: "";display:table}
 
.clearfix:after {clear: both}
 
.clearfix {zoom: 1}

.nowrap {white-space: nowrap;}

.row:before {content: none !important;}
.row:after {content: none !important;}

body {
	font-family: "PT Sans", "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;
	color: #333;
	font-size: 16px;
	line-height: 1.5;
	background-color: #101015; /* #7E736D  / d6d2c4  /  d9d9d1 */
	overflow-x: hidden;
  margin: 8px auto;
	padding: 0;
  transition: margin 0.2s;
}

@media screen and (max-width: 1470px) {
  body {
	  margin: 0 auto;
  }
}

.photograph-wrapper {
  width:100%;
  max-width:1470px;
  background: #38323f url(../images/background-image-12.jpg) top right no-repeat; /* 3.jpg #003d4c */
  margin: 0 auto;
  min-height: 700px;
  padding: 0 0 2em;
  overflow: hidden;
}

#ucl-masthead{
  display:block;
  margin: 0;
  padding: 0;
  width:100%;
  min-height: 131px;
  background: url(../images/ucl-logo.svg) bottom right/100% auto no-repeat, url(../images/ucl-logo-fill.jpg) top right/100% 68px no-repeat;
}

@media screen and (max-width: 800px) {
  #ucl-masthead {
    background: url(../images/ucl-logo-compact.svg) bottom right no-repeat, url(../images/ucl-logo-fill.jpg) top right/100% 92px no-repeat;
  }
}

@media screen and (max-width: 480px) {
  #ucl-masthead {
    background: url(../images/ucl-logo-micro.svg) bottom right no-repeat, url(../images/ucl-logo-fill.jpg) top right/100% 115px no-repeat;
  }
}


#ucl-masthead h1, #ucl-masthead h2 {
  color:#fff;
  background: #000;
  display: inline-block;
  font-weight:normal;
  text-transform:uppercase;
  font-family: "PT Sans", "Myriad Pro", "Helvetica Neue", Arial, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 6% 0 70px;
  padding: 0;
  transition: margin 0.8s, font-size 0.1s;
}

@media screen and (max-width: 800px) {
  #ucl-masthead h1, #ucl-masthead h2 {
	  margin-left: 6%;
  }
}

#ucl-masthead h1{
  font-size: 1.6em;
  padding: 15px 0 0;
  line-height: 1 !important;
}

#ucl-masthead h2{
  font-size:1em;
  line-height: 1 !important;
}

nav {
  float: left;
  margin: 0 0 0 4%;

  width: 20%;
  min-width: 160px;

  position: relative;
  display: inline-block;
  z-index: 50;

  font-size: .9em;
  transition: margin 0.3s ease-out;
}

@media screen and (max-width: 800px) {
  nav {
	  width: 90%;
    margin: .5em 4%;
	  float: none;
  }
  
  nav li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 1.6em;
  }
  
  nav li:last-of-type {
    padding-right: 0;
  }
  
  nav .navtooltip {
    max-width: 160px;
  }
}

@media screen and (max-width: 640px) {
  nav .navtooltip {
	  max-height: 0 !important;
	  opacity: 0;
  }
}

nav h1 {
  margin: 0.2em 0 0.6em;
  color: #111;
  line-height: 1;
  font-family: PT Sans, "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
  font-size: 2em;
  transition: font-size .2s;
}

@media screen and (max-width: 640px) {
  nav h1 {
    font-size: 1.5em;
  }
}

nav ul {
  list-style-type: none;
  margin: 0 25px 4em 0;
  padding: 0;
}

nav ul:last-of-type {
  margin-bottom: 0;
}

nav a {
  display: block;
  vertical-align: baseline;

  color: #fff;
  background: #484270;
	background-clip: padding-box;
	display:inline-block;
  transition: color .4s;

  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 1.25em;
  letter-spacing: 1px;
  line-height: 1;
  text-decoration: none;
  padding: 2px;
}

nav s>a {
  font-weight: thin;
  color: #a0a0aa;
  text-decoration: line-through;
}
nav s>a:after {
  content: "  \f00c";
  font-family: FontAwesome;
}

nav li {
  margin: 0 0 1.8em;
}
  
nav li#current-page a {
text-decoration: underline;
}
nav li#current-page a:after {
  content: "  \f041"; /* f060 */
  font-family: FontAwesome;
}

nav li:last-of-type {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 800px) {
  nav ul {
    margin: 0 0 2em;
  }
  nav li {
	  margin-bottom: .6em;
  }
}

@media screen and (max-width: 540px) {
  #ucl-masthead h1 {
    font-size: 1.3em;
    padding-top: 8px;
  }
  #ucl-masthead h2 {
    font-size:.9em;
  }
  nav h1 {
    font-size: 1.3em;
  }
  nav a {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 360px) {
  #ucl-masthead h1 {
    font-size: 1.1em;
    padding-top: 8px;
  }
  #ucl-masthead h2 {
    font-size:.8em;
  }
  nav h1 {
    font-size: 1.1em;
  }
  nav a {
    font-size: 1em;
  }
  nav li {
    font-size: 1em;
	  margin-bottom: .4em;
  }
}

nav a:hover, nav a:focus {
  color: #F6BE00;
}

nav .navtooltip {
  display: none !important; /*block;*/
  
  color: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  font-size: .9em;
  margin: 0.3em 0 0;
  line-height: 1.2;
  
  overflow: hidden !important;
  max-height: 200px;
  transition: all .5s;
  text-overflow: ellipsis;
}

main {
  margin: 3em auto 0;
  width:100%;
  max-width:1470px;
  transition: margin .3s;
}

@media screen and (max-width: 800px) {
  main {
    margin-top: .5em;
  }
}

.flashbag {
  font-weight: bold;
  position: relative;
  padding: .5em 2em .5em 1em;
  min-height: 3em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.flashbag, .fa {
  box-sizing: content-box !important;
}

.flashbag .fa, .alert fa {
  position: absolute;
  left: .25em;
  top: .2em;
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.flashbag-content {
  display: block;
  margin-left: 3.5em;
}

@media screen and (max-width: 800px) {
  .flashbag-content {
  }
}


.notice {
  background: #0097A9 !important;
  border: 2px solid #0097A9;
  color: #0c0c0c !important;
}

.notice .fa {
  background: #fff;
  border-color: #0097A9;
}

.success {
  background: #B5BD00 !important;
  border: 2px solid #B5BD00;
  color: #0c0c0c !important;
}

.success .fa {
  background: #fff;
  border-color: #B5BD00;
}

.error {
  background: #D50032 !important;
  border: 2px solid #D50032;
  color: #fff !important;
}

.error .fa {
  background: #fff;
  color: #0c0c0c !important;
  border-color: #D50032;
}

.warning {
  border: 2px solid #F6BE00;
  background: #F6BE00 !important;
  color: #0c0c0c !important;
}

.warning .fa {
  background: #fff;
  color: #0c0c0c;
  border-color: #F6BE00;
}

#content {
  padding: 1em 2em 2em;
  min-height:600px;
  transition: margin 0.3s ease-out;
}

#content, .flashbag {
  box-shadow: 0px 0px 20px #223;
  max-width: 90%;
  margin: 1em 4% 0.5em 24%;
  background: #fbfbfb;
}

@media screen and (max-width: 800px) {
  #content, .flashbag {
	  margin: 0.5em 4%;
  }
}

#content h1,#content h2,#content h3,#content h4,#content h5,#content h6 {
  padding: 0;
  font-weight: bold;
}

#content h1, #content h2 {
  margin: 15px 0 10px;
}

#content h4 {
  margin: 15px 0 10px;
  font-size: 1.2em;
}

#content p~ h4 {
  margin-bottom: 4px !important;
}

#content h5 {
  font-size: 1em;
  display: inline;
  padding: 0 2em 0 0;
}

footer {
  width: 100%;
  max-width: 1470px;
  background: #000;
  color: #666;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 801px) {
  footer {
	  font-size: 1.2em;
  }
}

footer #copyright {
  border-top: 2px solid #002855;
  padding: .3em 2em;
  margin: 0;
  background: #D6D2C4;
  color: #333;
  font-size: .7em;
}

@media screen and (max-width: 500px) {
  footer #footer-title {
    display: block;
  }
}

@media screen and (min-width: 501px) {
  footer #footer-title:after {
    content: " – ";
  }
}

footer #copyright p {
  margin: .3em 0 0;
}

footer #copyright-secondary {
  margin: 0 auto;
  padding: 0 0 .4em;
  vertical-align: middle;
}

footer #copyright-secondary ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.2;
}

footer #copyright-secondary li {
  display: inline;
  padding: 0 1rem;
}

footer #copyright-secondary a {
  text-decoration: none;
  font-weight: bold;
  font-family: "PT Sans", "Myriad Pro", "Helvetica Neue", Arial, sans-serif; 
  letter-spacing: 1px;
  font-size: .6em;
  white-space: nowrap;
  color: inherit;
  transition: color .4s;
}

footer #copyright-secondary a:hover, footer #copyright-secondary a:focus {
  color: #F6BE00;
}

.required:after {
  content: " *";
  color: red;
}
.required {
}

input[type="file"]:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

aside {
  font-size: .9em;
  margin: -.5em 5% 1.5em !important;
  padding: 0;
  line-height: 1;
  font-style: italic;
}

aside.alert {
  padding: .3em !important;
  font-size: .95em;
}

.bs-callout {
  padding: 15px 20px 15px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-compact {
  padding: 8px 20px 8px;
  margin: 6px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  font-size: 1.15em;
  font-weight: normal !important;
  margin-top: 0 !important;
  display: block !important;
  margin-bottom: 8px !important;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #555;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #555;
}

