@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS75F-webfont.eot');
    src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS56F-webfont.eot');
    src: url('../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS56F-webfont.woff') format('woff'),
         url('../fonts/PTS56F-webfont.ttf') format('truetype'),
         url('../fonts/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS76F-webfont.eot');
    src: url('../fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS76F-webfont.woff') format('woff'),
         url('../fonts/PTS76F-webfont.ttf') format('truetype'),
         url('../fonts/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

.unstyled {
  color: inherit;
  background: inherit;
}

.load, .load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.clearfix:before,.clearfix:after {content: "";display:table}
 
.clearfix:after {clear: both}
 
.clearfix {zoom: 1}

.nowrap {white-space: nowrap;}

/*.row:before {content: none !important;}
.row:after {content: none !important;} */

body {
	font-family: "PT Sans", "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;
	color: #333;
	font-size: 16px;
	line-height: 1.5;
	background-color: #101015; /* #7E736D  / d6d2c4  /  d9d9d1 */
	overflow-x: hidden;
  margin: 8px auto;
	padding: 0;
  transition: margin 0.2s;
}

@media screen and (max-width: 1470px) {
  body {
	  margin: 0 auto;
  }
}

.photograph-wrapper {
  width:100%;
  max-width:1470px;
  background: #38323f url(../images/background-image-12.jpg) top right no-repeat; /* 3.jpg #003d4c */
  margin: 0 auto;
  min-height: 700px;
  padding: 0 0 2em;
  overflow: hidden;
}

#ucl-masthead{
  display:block;
  margin: 0;
  padding: 0;
  width:100%;
  min-height: 131px;
  background: url(../images/ucl-logo.svg) bottom right/100% auto no-repeat, url(../images/ucl-logo-fill.jpg) top right/100% 68px no-repeat;
  transition: min-height 0.4s ease-out;
}

@media screen and (max-width: 800px) {
  #ucl-masthead {
    min-height: 111px;
    background: url(../images/ucl-logo-compact.svg) bottom right no-repeat, url(../images/ucl-logo-fill.jpg) top right/100% 72px no-repeat;
  }
}

@media screen and (max-width: 480px) {
  #ucl-masthead {
    min-height: 81px;
    background: url(../images/ucl-logo-micro.svg) bottom right no-repeat, url(../images/ucl-logo-fill.jpg) top right/100% 65px no-repeat;
  }
}


#ucl-masthead h1, #ucl-masthead h2 {
  color:#fff;
  background: #000;
  display: inline-block;
  font-weight:normal;
  text-transform:uppercase;
  font-family: "PT Sans", "Myriad Pro", "Helvetica Neue", Arial, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 6% 0 70px;
  padding: 0;
  transition: margin 0.8s, font-size 0.1s;
}

@media screen and (max-width: 800px) {
  #ucl-masthead h1, #ucl-masthead h2 {
	  margin-left: 6%;
  }
}

#ucl-masthead h1{
  font-size: 1.6em;
  padding: 15px 0 0;
  line-height: 1 !important;
}

#ucl-masthead h2{
  font-size:1em;
  line-height: 1 !important;
}

nav {
  float: left;
  margin: 0 0 0 4%;
  width: 18%;
  min-width: 160px;

  position: relative;
  display: inline-block;
  z-index: 50;

  font-size: .9em;
  transition: margin 0.3s ease-out;
}

nav .menu {
  border-top: 5px solid #333;
  background: rgba(251, 251, 251, 0.7); 
  box-shadow: 0px 0px 20px rgba(34, 34, 51, 0.4);
  margin: 0 0 1.5em;
  padding: .3em 0 0;
}


nav .menu:last-of-type {
  margin: 0;
}

nav h1 {
  margin: 0 0 .2em;
  padding: 0 10px;
  line-height: 1;
  font-family: PT Sans, "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,sans-serif;
  font-size: 2em;
  transition: font-size .2s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 .3em;
}

nav li {
  position: relative;
  display: table;
  margin: .0em 0;
  font-size: 1.1em;
  width: 100%;
  transition: margin 0.4s ease-out, padding 0.6s ease-out, background 0.2s ease-in;
  border-top: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.2);
}

nav li:hover, nav li:focus {
  background: rgba(246,190,0, 0.5);
}

nav li:hover a, nav li:focus a {
  color: #111;
  opacity: 1;
  text-decoration: none;
}

nav li a, nav li span {
  display: table-cell;
  position: relative;
  padding: .2em 12px;
  z-index: 2;
  float: left;
  width: 100%;
  color: #111;
  transition: color 0.4s ease-in-out, opacity 0.3s ease-in-out, font-size .2s;
}
  
nav li#current-page {
  background: rgba(72, 66, 112, 0.8);
  color: #fff;
}
nav li#current-page a, nav li#current-page span {
  color: #fff;
}

nav li.empty {
  display: none;
}

nav li s {
  text-decoration: none;
}
nav li s a {
  font-weight: unset;
  color: #111;
  opacity: .65;
  text-decoration: none;
}

nav .menu-icon {
  padding: .2em .2em .2em 0;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

@media screen and (max-width: 800px) {
  nav {
	  width: 92%;
    margin: .5em 4%;
	  float: none;
	  font-size: .85em;
  }
  nav .menu {
    margin: 0 0 .7em;
    padding: .2em 0 0;
  }
  nav ul {
    overflow: hidden;
    border-top: 1px solid #ccc;
  }
  nav li {
    line-height: 1.2;
  }
}

@media screen and (max-width: 640px) {
  nav {
    font-size: .8em;
  }
}

@media screen and (max-width: 540px) {
  #ucl-masthead h1 {
    font-size: 1.3em;
    padding-top: 8px;
  }
  #ucl-masthead h2 {
    font-size:.9em;
  }
  nav {
    font-size: .75em;
  }
  #content h1 {
    font-size: 1.8em;
  }
  #content h2 {
    font-size: 1.6em;
  }
  #content h3 {
    font-size: 1.4em;
  }
  #content h4 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 360px) {
  #ucl-masthead h1 {
    font-size: 1.1em;
    padding-top: 8px;
  }
  #ucl-masthead h2 {
    font-size:.8em;
  }
  nav {
    font-size: .7em;
  }
  #content h1 {
    font-size: 1.6em;
  }
  #content h2 {
    font-size: 1.4em;
  }
  #content h3 {
    font-size: 1.2em;
  }
  #content h4 {
    font-size: 1.1em;
  }
}

main {
  margin: 3em auto 0;
  width: 100%;
  max-width: 1470px;
  transition: margin .3s;
}

@media screen and (max-width: 800px) {
  main {
    margin-top: .5em;
  }
}

.flashbag {
  font-weight: bold;
  position: relative;
  padding: .5em 2em .5em 1em;
  min-height: 4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.flashbag .fa {
  box-sizing: content-box !important;
}

.flashbag .fa, .alert fa {
  position: absolute;
  left: .25em;
  top: .2em;
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.flashbag-content {
  display: block;
  margin-left: 3.5em;
}

@media screen and (max-width: 800px) {
  .flashbag-content {
  }
}


.notice {
  background: #0097A9 !important;
  border: 2px solid #0097A9;
  color: #0c0c0c !important;
}

.notice .fa {
  background: #fff;
  border-color: #0097A9;
}

.success {
  background: #B5BD00 !important;
  border: 2px solid #B5BD00;
  color: #0c0c0c !important;
}

.success .fa {
  background: #fff;
  border-color: #B5BD00;
}

.error {
  background: #D50032 !important;
  border: 2px solid #D50032;
  color: #fff !important;
}

.error .fa {
  background: #fff;
  color: #0c0c0c !important;
  border-color: #D50032;
}

.warning {
  border: 2px solid #F6BE00;
  background: #F6BE00 !important;
  color: #0c0c0c !important;
}

.warning .fa {
  background: #fff;
  color: #0c0c0c;
  border-color: #F6BE00;
}

#content {
  padding: 1em 2em 2em;
  min-height: 100px;
  transition: margin 0.6s ease-out, padding 0.8s ease-out;
}

#content, .flashbag {
  box-shadow: 0px 0px 20px #223;
  width: 72%;
  margin: 0 4% 0.5em 2%;
  background: #fbfbfb;
  float: right;
}

@media screen and (max-width: 540px) {
  #content, .flashbag {
    padding: .3em .6em .6em;
  }
}

@media screen and (max-width: 800px) {
  #content, .flashbag {
	  margin: 0.5em 4%;
    max-width: 92% !important;
    padding: .6em 1.2em .8em;
    float: none;
    width: 92%;
  }
}

@media screen and (max-width: 920px) {
  #content, .flashbag {
    max-width: 70%;
  }
}

@media screen and (max-width: 880px) {
  #content, .flashbag {
    max-width: 68%;
  }
}

#content h1,#content h2,#content h3,#content h4,#content h5,#content h6 {
  padding: 0;
  font-weight: bold;
}

#content h1, #content h2 {
  margin: 15px 0 10px;
}

#content h4 {
  margin: 15px 0 10px;
  font-size: 1.2em;
}

#content p~ h4 {
  margin-bottom: 4px !important;
}

#content h5 {
  font-size: 1em;
  display: inline;
  padding: 0 2em 0 0;
}

footer {
  width: 100%;
  max-width: 1470px;
  color: #666;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 801px) {
  footer {
	  font-size: 1.2em;
  }
}

footer #copyright {
  border-top: 2px solid #002855;
  padding: .3em 2em;
  margin: 0;
  background: #D6D2C4;
  color: #333;
  font-size: .7em;
}

@media screen and (max-width: 500px) {
  footer #footer-title {
    display: block;
  }
}

@media screen and (min-width: 501px) {
  footer #footer-title:after {
    content: " – ";
  }
}

footer #copyright p {
  margin: .3em 0 0;
}

footer #copyright-secondary {
  margin: 0 auto;
  padding: 0 0 .4em;
  vertical-align: middle;
}

footer #copyright-secondary ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.2;
}

footer #copyright-secondary li {
  display: inline;
  padding: 0 1rem;
}

footer #copyright-secondary a {
  text-decoration: none;
  font-weight: bold;
  font-family: "PT Sans", "Myriad Pro", "Helvetica Neue", Arial, sans-serif; 
  letter-spacing: 1px;
  font-size: .6em;
  white-space: nowrap;
  color: inherit;
  transition: color .4s;
}

footer #copyright-secondary a:hover, footer #copyright-secondary a:focus {
  color: #F6BE00;
}

.required:after {
  content: " *";
  color: red;
}
.required {
}

input[type="file"]:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

aside {
  font-size: .9em;
  margin: -.5em 5% 1.5em !important;
  padding: 0;
  line-height: 1;
  font-style: italic;
}

aside.alert {
  padding: .3em !important;
  font-size: .95em;
}

#status s {
  text-decoration: none;
}
#status s>h4 {
  font-weight: thin;
  opacity: .65;
  text-decoration: none;
}
#status s>h4:after {
  content: "  \f00c";
  font-family: FontAwesome;
}

ol.progtrckr {
  margin: 0 0 1em;
  padding: 0;
  list-style-type none;
}
ol.progtrckr li {
  vertical-align: text-top;
  display: inline-block;
  line-height: 1em;
  margin: 1em 0 0;
  padding: 1em 0;
  min-width: 120px;
  text-align: center;
}
ol.progtrckr[data-progtrckr-steps="2"] li { width: 49.99%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33.32%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24.99%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19.99%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16.65%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14.28%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12.49%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11.11%; }
ol.progtrckr li:before {
  position: relative;
  text-align: center;
  top: -1.8em;
  float: left;
  left: 50%;
  font-family: FontAwesome;
  height: 1.4em;
  width: 1.4em;
  line-height: 1.1em;
  border-radius: 1.4em;
}
ol.progtrckr li.progtrckr-done:before {
  content: "\f00c";
  color: white;
  border: .2em solid transparent;
  background-color: yellowgreen;
}
ol.progtrckr li.progtrckr-current:before {
  content: "\f041";
  color: #666;
  border: .2em solid #666;
  background-color: #fbfbfb;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\f111";
  color: #fbfbfb;
  border: .2em solid silver;
  background-color: #fbfbfb;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-top: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-current {
  color: black;
  text-decoration: underline;
  border-top: 4px solid silver;
  -moz-border-image: -moz-linear-gradient(left, yellowgreen 50%, silver 50%);
  -webkit-border-image: -webkit-linear-gradient(left, yellowgreen 50%, silver 50%);
  border-image: linear-gradient(to right, yellowgreen 50%, silver 50%);
  border-image-slice: 1;
  border-bottom: 0px none !important;
  border-left: 0px none !important;
  border-right: 0px none !important;
}
ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-top: 4px solid silver;
}

ol.progtrckr li.progtrckr-done:last-child, ol.progtrckr li.progtrckr-current:last-child {
  -moz-border-image: -moz-linear-gradient(left, yellowgreen 50%, transparent 50%);
  -webkit-border-image: -webkit-linear-gradient(left, yellowgreen 50%, transparent 50%);
  border-image: linear-gradient(to right, yellowgreen 50%, transparent 50%);
  border-image-slice: 1;
  border-bottom: 0px none !important;
  border-left: 0px none !important;
  border-right: 0px none !important;
}
ol.progtrckr li.progtrckr-todo:last-child {
  -moz-border-image: -moz-linear-gradient(left, silver 50%, transparent 50%);
  -webkit-border-image: -webkit-linear-gradient(left, silver 50%, transparent 50%);
  border-image: linear-gradient(to right, silver 50%, transparent 50%);
  border-image-slice: 1;
  border-bottom: 0px none !important;
  border-left: 0px none !important;
  border-right: 0px none !important;
}

hr.progtrckr-todo {
  padding: 1em 0 0;
  margin: 0 0 4em;
  border: 0px solid transparent;
  color: transparent;
  background-color: transparent;
  border-top: 4px solid silver;
  -moz-border-image: -moz-linear-gradient(left, silver 40%, transparent 90%);
  -webkit-border-image: -webkit-linear-gradient(left, silver 40%, transparent 90%);
  border-image: linear-gradient(to right, silver 40%, transparent 90%);
  border-image-slice: 1;
  border-bottom: 0px none !important;
  border-left: 0px none !important;
  border-right: 0px none !important;
}

.disabled {
  opacity: .65;
}

.cursor-disabled {
  cursor: not-allowed;
}

.progressbar-wrapper {
  position: relative;
}

.progressbar-marker {
  width: 2px;
  height: 24px;
  position: absolute;
  top: -2px;
  background-color: #555;
}

.bs-callout {
  padding: 15px 20px 15px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-compact {
  padding: 8px 20px 8px;
  margin: 6px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-card {
  padding: 8px;
  margin: 6px 0 18px;
  border: 1px solid #eee;
  border-radius: 3px;
}

.bs-callout-card.bs-callout-info {
  border-left-width: 5px;
  border-right-color: #ccc;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
}
.bs-callout-card:hover {
  border-color: #ccc;
  box-shadow: -2px 0px 8px rgba(34, 34, 51, 0.4);
}
.bs-callout-card.bs-callout-info:hover {
  border-left-color: #428bca;
}

.bs-callout-card, .bs-callout-card .btn {
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out,  box-shadow .6s;
}

.bs-callout h4 {
  font-size: 1.15em;
  font-weight: normal !important;
  margin-top: 0 !important;
  display: block !important;
  margin-bottom: 8px !important;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #555;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #555;
}
