{% extends 'UCLStudyBundle::base.html.twig' %}

{% block body %}
    <h3>Welcome to the {{ site.title }} website.</h3>
    
    <p>This website is still under development. Please come again later!</p>
{% endblock %}
