{% set infosheet_prospective = true %}
{% extends 'UCLStudyBundle:StudyPart:infosheet-p1.html.twig' %}

{% block article_details %}
  <p class="lead">This document presents the research protocol for the first part of the study. This is the information sheet we use to verify that participants understand what will happen and agree to proceed.</p>
{{ parent() }}
{% endblock %}

{% block infosheet_actions %}
  <a href="{{ url('ucl_study_contact') }}" title="Contact the researchers behind this project" class="btn btn-lg btn-default">Contact Me</a>
  <a href="{{ url('ucl_study_screening_join') }}" title="Register to join the pre-screening participant pool" class="btn btn-lg btn-primary">Join the Study</a>
{% endblock %}

