app/config/parameters.yml
app/cache/dev/*
app/cache/prod/*
app/logs/*
app/store/*/*
app/*.cache
src/archive
src/UCL/StudyBundle/Resources/public/images/background-image*.jpg
web/css
web/js
web/css
web/layout-generated-app.css
web/layout-generated-web.css
web/js
web/scripts-generated-form.js
web/scripts-generated.js
web/bundles
.git
.gitignore
vendor/autoload.php
vendor/bmatzner
vendor/braincrafted
vendor/composer
vendor/commerceguys
vendor/doctrine
vendor/incenteev
vendor/jdorn
vendor/jquery
vendor/kriswallsmith
vendor/monolog
vendor/psr
vendor/sensio
vendor/sensiolabs
vendor/swiftmailer
vendor/symfony
vendor/twbs
vendor/twig
