app/config/parameters.yml
app/cache/dev/*
app/cache/prod/*
app/logs/*
app/store/*/*
app/*.cache
src/archive
src/UCL/StudyBundle/Resources/public/images/background-image*.jpg
web/css
web/js
web/css
web/layout-generated-app.css
web/layout-generated-web.css
web/js
web/scripts-generated-form.js
web/scripts-generated.js
web/bundles
.git
.gitignore
vendor/autoload.php
vendor/bmatzner
vendor/braincrafted
vendor/composer
vendor/commerceguys
vendor/doctrine
vendor/incenteev
vendor/jdorn
vendor/jquery
vendor/kriswallsmith
vendor/monolog
vendor/psr
vendor/sensio
vendor/sensiolabs
vendor/swiftmailer
vendor/symfony
vendor/twbs
vendor/twig
web/forum/cache
web/forum/uploads
web/forum/conf
web/forum/conf/config-defaults.php
web/layout-generated-app_app-layout_3.css
web/layout-generated-app_bootstrap_1.css
web/layout-generated-app.css
web/layout-generated-app_font-awesome.min_4.css
web/layout-generated-app_layout_2.css
web/layout-generated-web_bootstrap_1.css
web/layout-generated-web.css
web/layout-generated-web_font-awesome.min_3.css
web/layout-generated-web_layout_2.css
web/scripts-generated-form_bootstrap_alert_2_3.js
web/scripts-generated-form_bootstrap_button_3_4.js
web/scripts-generated-form_bootstrap_transition_1_2.js
web/scripts-generated-form_fix-bootstrap-button-input_5.js
web/scripts-generated-form_jquery_1.js
web/scripts-generated-form.js
