{% extends 'UCLStudyBundle::app.html.twig' %}

{% block body %}

    <p>This application is for enrolled research participants only. To get an invitation, you should first <a href="{{ url('ucl_study_screening_join') }}">register on our website</a>.</p>
    <hr />
    
    <form name="login" method="post" action="{{ path('ucl_study_app_login_check') }}" class="form-horizontal">
    <fieldset>
    <div class="form-row">
        <div class="form-group">
          <label class="col-sm-2 control-label required" for="_username">Email address</label>
          <div class="col-sm-10">
            <input type="email" name="_username" required="required" value="{{ last_username }}" class="form-control" />
          </div>
        </div>
    </div>

        <div class="form-group">
          <label class="col-sm-2 control-label required" for="_password">Participant code</label>
          <div class="col-sm-10">
            <input type="password" name="_password" required="required" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" name="_remember_me" checked="checked" /></input> Remember me</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-2">
            <button type="submit" name="login" class="btn btn-primary btn-block">Log in</button>
          </div>
        </div>
    </fieldset>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}
