{% if prescreening is defined %}
<div class="bs-callout bs-callout-default"><h4>{{ 'How your data is processed'|trans }}</h4><p class="small">{{ globals.prescreening_dpa_disclaimer | trans }}</p></div>
{% else %}
<div class="bs-callout bs-callout-default"><h4>{{ 'How your data is processed'|trans }}</h4><p class="small">{{ globals.participant_dpa_disclaimer | trans }}</p></div>
{% endif %}
