{% extends 'UCLStudyBundle::base.html.twig' %}

{% block body %}

<script type="text/javascript" src="https://study.cs.ucl.ac.uk/multitasking/web/forum/js/embed.js"></script>
<noscript>Please enable JavaScript for the forum to display properly. Alternatively, you can <a href="{{ app.request.baseUrl }}/forum/">click here</a> to be redirected to the forum (it is still preferable to enable JavaScript for a better browsing experience).</noscript>

{% endblock %}
