{% set layout = "article" %}
{% extends 'UCLStudyBundle::base.html.twig' %}

{% block article_details %}
{% endblock %}

{% block article_body %}
<div class="alert alert-danger"><h4>TODO</h4></div>

{% endblock %}

{% block article_appendix %}
{% endblock %}
