{% set layout = "article" %}
{% extends 'UCLStudyBundle::base.html.twig' %}

{% block article_details %}
{% endblock %}

{% block article_body %}
<p class="lead">TODO</p>

{% endblock %}

{% block article_appendix %}
{% endblock %}
