{% extends 'UCLStudyBundle:StudyPart:start.html.twig' %}

{% block article_details %}
{{ parent() }}
    <p class="lead">You're almost there! You must now install the data collection software. You will find instructions on this page.</span> </p>
{% endblock %}

{% block article_body %}
<h2>1. Add our repository to your software sources</h2>
<div class="alert alert-danger"><h4>TODO</h4></div>

<hr />
<h2>2. Install the UCL Study Manager</h2>

    <p>You must <a href="apt://ucl-study-manager" title="Click to install directly">install the <code>ucl-study-manager</code> package</a> from your newly added repository. You can do so by <a href="apt://ucl-study-manager" title="Click to install directly">clicking here</a> or by using the Ubuntu App Store.</p>
    <div class="btn-toolbar">
    </div>

    <div class="bs-callout bs-callout-default"><p class="small">The study manager will replace some libraries and applications on your system, including Unity, Nautilus, GTK+ and the GLib. This is normal, as we use modified versions of these libraries and applications to collect data about your multitasking habits. You will be able to return to the original applications the next time they are updated by Ubuntu once the study is over.</p></div>
    
<hr />
<h2>3. Install the study extension into your browser</h2>
<h3>Google Chrome</h3>
    <ol class="list-group">
    <li class="list-group-item">Open your Chrome Web browser, and visit our <a href="https://chrome.google.com/webstore/detail/ucl-study-zeitgeist-plugi/hhccdfafffjclmgjdokgijhccpcjcehd">Chrome Web Store page</a>.</li>
    <li class="list-group-item">On that page, click on the <button class="btn btn-primary btn-sm disabled text-uppercase" disabled><i class="fa fa-plus"></i> Add to Chrome</button> button.</li>
    </ol>
    <div class="bs-callout bs-callout-default"><p class="small">The extension should now be installed and running. Please <a href="{{ url ('ucl_study_contact') }}">contact us</a> if Chrome displays an error message.</p></div>
<h3>Mozilla Firefox</h3>
<div class="alert alert-danger"><h4>TODO</h4></div>

{% endblock %}

{% block article_appendix %}
{% if user.hasDoneStep(_part, 'install') %}
<hr />
{% set kudos_message %}Congratulations! You can now launch the study software and start collecting data.{% endset %}
{% include ('UCLStudyBundle::kudos.html.twig') %}
{% endif %}
{% endblock %}

