{% extends 'UCLStudyBundle:StudyPart:start.html.twig' %}

{% block article_details %}
{{ parent() }}
    <p class="lead">You're almost there! You must now install the data collection software. You will find instructions on this page.</span> </p>
{% endblock %}

{% block article_body %}
<h3>1. Add our repository to your software sources</h3>
    <p>TODO</p>

<h3>2. Install the app</h3>

<h3>3. Open the app and log in</h3>
{% endblock %}
