{% set layout = "article" %}
{% extends 'UCLStudyBundle::base.html.twig' %}

{% block article_details %}
{% if user.hasDoneStep(_part, 'install') %}
<p class="bs-callout bs-callout-success">You have already activated the study application, but you can use the instructions below to reinstall your application if necessary.</p>
{% endif %}
{% endblock %}

{% block article_body %}
{% endblock %}

{% block article_appendix %}
<hr />
<p>
  You must install the application {% if app_install_verification is defined %} and log in from within the application {% endif %} to continue with the study. If you cannot progress through this step, or if you have already followed the instructions and the site has not updated, please contact us.
</p>
<br />
<a href="{{ url('ucl_study_contact') }}" title="Contact the researchers behind this project" class="btn btn-lg btn-default">Contact the Researchers</a>
{% endblock %}

