{% extends 'UCLStudyBundle:StudyPart:weekly.html.twig' %}

{% block article_details %}
{{ parent() }}
  <p class="bs-callout bs-callout-success lead">{{ 'TODO' | trans }}</p>
{% endblock %}

{% block article_body %}
{% endblock %}
